<!-- About Section -->
   <section id="experience">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Experience</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
               <div style="float:right; width:250px">
                   <img src="../img/oxfam-logo.jpg" height="133px"
                   width="200px" style="float:right; margin:0 0 20px 0;">
                   <img src="../img/manchester-run.jpg" height="125px"
                   width="200px" style="float:right; margin:0 0 20px 0;">
               </div>
                <ul>
                    <li><p><i>February 2011 - November 2011</i>: Did voluntary
                    work at an Oxfam charity store as a shop assistant.</p></li>
                    <li><p><i>August 2012 - September 2012</i>: Worked on a
                    placement at the NHS Prestwich IT department.</p></li>
                    <li><p><i>June 2013</i>: Worked on a placement at EBRP
                    Solutions Toronto, in which I wrote a program to aid with
                    the operation of the company.</p></li>
                </ul>
           </div>
       </div>
   </section>
