<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="float:right; width:250px">
                    <img src="../img/matillion-logo.png" height="200px" width="200px"
                        style="float:right; margin:0 0 20px 0;">
                    <img src="../img/stfc-logo.png" height="133px" width="200px"
                        style="float:right; margin:0 0 20px 0;">
                </div>
                <ul>
                    <li><p><i>September 2018 - November 2018</i>: Worked as a software engineer at
                        Matillion in Altrincham, Manchester, UK where I specialised in integrating
                        new database connectors into the product. I also addressed issues raised by
                        customers on product bugs and features and with CDATA with issues regarding
                        their database drivers we used.</p></li>
                    <li><p><i>July 2016 - August 2017</i>: Did an industrial placement at STFC at
                        the Harwell Campus in Oxfordshire, UK where I worked as a software developer
                        for the Mantid open source project. In this, I held responsibility in
                        implementing and designing features for the Reflectometry interface. I also
                        frequently liased with instrument scientists who used Mantid to gather
                        requirements for features they wished to see implemented on the technique
                        area I worked on.</p></li>
                </ul>
            </div>
        </div>
   </section>
