<!-- About Section -->
   <section id="portfolio">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Portfolio</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
                <ul>
                    <li><p>June 2014: Completed A-levels at Abbey College with 3
                    A's in Maths, Further Maths and Physics.</p></li>
                    <li><p>September 2014 - : Started Computer Science at the
                    University of Manchester. Have acheived a First class in the
                    course so far for the first year.</p></li>
                </ul>
           </div>
       </div>
   </section>
