<!-- About Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="float:left; width:250px; margin:0 70px 10px 70px">
                    <h3 style="text-align:center;">Web Languages</h3>
                </div>
                <div style="float:left; width:250px; margin:0 70px 10px 70px">
                    <h3 style="text-align:center;">Programming</h3>
                </div>
                <div style="float:left; width:250px; margin:0 70px 10px 70px">
                    <h3 style="text-align:center;">Software/Tools</h3>
                </div>
                <div style="float:left; padding:0 70px 50px 70px;">
                    <img src="../img/html5-logo.png" height="100px" width="100px"
                    style="float:left; margin-right:50px">
                    <img src="../img/css3-logo.png" height="100px" width="100px"
                    style="float:right">
                </div>
                <div style="float:left; padding:0 70px 50px 70px;">
                    <img src="../img/python-logo.png" height="100px" width="100px"
                    style="float:left; margin-right:50px">
                    <img src="../img/java-logo.png" height="100px" width="100px"
                    style="float:right">
                </div>
                <div style="float:left; padding:0 70px 50px 70px;">
                    <img src="../img/photoshop-logo.png" height="100px" width="100px"
                    style="float:left; margin-right:50px">
                    <img src="../img/unity-logo.png" height="100px" width="100px"
                    style="float:right">
                </div>
                <div style="float:left; padding:0 70px 0 70px;">
                    <img src="../img/javascript-logo.png" height="100px" width="100px"
                    style="float:left; margin-right:50px">
                    <img src="../img/php-logo.png" height="100px" width="100px"
                    style="float:right">
                </div>
                <div style="float:left; padding:0 70px 0 70px;">
                    <img src="../img/csharp-logo.png" height="100px" width="100px"
                    style="float:left; margin-right:50px">
                </div>
            </div>
        </div>
    </section>
