<!-- About Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="float:left; width:325px; margin:0 97px 10px 0">
                    <h3 style="text-align:center;">Web Languages</h3>
                </div>
                <div style="float:left; width:325px; margin:0 98px 10px 0">
                    <h3 style="text-align:center;">Programming</h3>
                </div>
                <div style="float:left; width:325px">
                    <h3 style="text-align:center;">Software/Tools</h3>
                </div>
                <div style="float:left; width:325px; margin:0 97px 20px 0">
                    <img src="../img/html5-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/css3-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/javascript-logo.png" height="75px" width="75px"
                    style="float:left">
                </div>
                <div style="float:left; width:325px; margin:0 98px 20px 0">
                    <img src="../img/python-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/java-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/csharp-logo.png" height="75px" width="75px"
                    style="float:left">
                </div>
                <div style="float:left; width:325px">
                    <img src="../img/photoshop-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/unity-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                </div>
                <div style="float:left; width:325px; margin:0 97px 20px 0">
                    <img src="../img/php-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/jquery-logo.png" height="75px" width="75px"
                    style="float:left; margin-right:50px">
                    <img src="../img/extjs-logo.png" height="75px" width="75px"
                    style="float:left">
                </div>
            </div>
        </div>
    </section>
